.navbar {
  padding: 20px 40px !important;
  background-color: transparent !important;
  color: var(--white) !important;
  z-index: 1000 !important;
}

.navbar .navbar-nav {
  gap: 50px !important;
  font-size: 18px;
}

.navbar .nav-link {
  color: var(--white);
  border-bottom: 1px solid transparent;
}

.navbar .nav-link.active {
  color: var(--white) !important;
  border-bottom: 1px solid var(--white);
}

.navbar .nav-link .MuiSvgIcon-root {
  transition: 0.3s;
}

.navbar .nav-link:hover .MuiSvgIcon-root {
  transform: rotate(180deg);
}

.navbar .nav-link:hover {
  border-color: var(--white);
  color: var(--white);
}
